<!DOCTYPE html>

<head>
<div class=titlewords>
<title>Game List</title> 
</div>
<meta charset="utf-8" /> 

<meta name="viewport" content="width=device-width, initial-scale=1" /> 

{% load bootstrap5 %} 

{% bootstrap_css %} 

{% bootstrap_javascript %} 




<style>


  .titlewords{
    background-color:GhostWhite;
}

                body{
                  padding-top: 5%;
                    background-color: 	#01182b;
                    text-align: center;
                }
ul{
                list-style-type: none;
}




links {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

</style>



<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
$( function() {
  $( "#sortable" ).sortable();
} );
</script>






</head>



<div class="container-fluid" >

{% block content %} 



{% if game_list %} 


<ul id="sortable">

{% for game in game_list %}

<li> 
  <div style="background-color: #ffffff">
    <div class=links>
<a href="/game/{{ game.id }}/">{{ game.title }}</a>
    </div>
<h1></h1> 
<h1></h1> 
<img src="{{game.picture}}" alt="photo">
  

{%if request.user.is_authenticated %}
<h1></h1> 
<h1></h1> 
<a href="{% url 'edit_game' game.id %}"><button type="button" class="btn btn-success">Update</button>
<a href="{% url 'delete' game.id %}"><button type="button" class="btn btn-danger">Delete</button>
</div>
<h1></h1> 
{% endif %}

</li> 

{% endfor %} 

</ul> 












{% else %} 

<p>There are no games present</p> 

{% endif %} 

{% endblock %} 

</div>

{%if request.user.is_authenticated %}
<div class="gamebutton">
    <a href="{% url 'create_game' %}"><button type="button" class="btn btn-success">Add Game</button>
</div>
{% endif %}


<style>
  .gamebutton{
  padding-top: 5%;
  }
</style>

<div class="gamebutton">
  <a href="{% url 'index' %}"><button type="button" class="btn btn-success">Home</button>
  </div>


</html>