<!DOCTYPE html>

<head>

<title>Game List</title> 

<meta charset="utf-8" /> 

<meta name="viewport" content="width=device-width, initial-scale=1" /> 

{% load bootstrap5 %} 

{% bootstrap_css %} 

{% bootstrap_javascript %} 




<style>
                body{
                    background-color: #004F6B;
                    text-align: center;
                }
ul{
                list-style-type: none;
}
</style>



<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
$( function() {
  $( "#sortable" ).sortable();
} );
</script>






</head>



<div class="container-fluid" >

{% block content %} 

<h1>Game List</h1> 

{% if game_list %} 


<ul id="sortable">

{% for game in game_list %}

<li> 

<a href="/game/{{ game.id }}/">{{ game.title }}</a>
<h1></h1> 
<img src="{{game.picture}}" alt="photo">

{%if request.user.is_authenticated %}
<h1></h1> 
<h1></h1> 
<a href="{% url 'edit_game' game.id %}"><button type="button" class="btn btn-success">Update</button>
<a href="{% url 'delete' game.id %}"><button type="button" class="btn btn-danger">Delete</button>
{% endif %}

</li> 

{% endfor %} 

</ul> 












{% else %} 

<p>There are no games present</p> 

{% endif %} 

{% endblock %} 

</div>

{%if request.user.is_authenticated %}
<div>
    <a href="{% url 'create_game' %}"><button type="button" class="btn btn-success">Add Game</button>
</div>
{% endif %}

</html>