<!DOCTYPE html>

<head>

<title>Game List</title> 

<meta charset="utf-8" /> 

<meta name="viewport" content="width=device-width, initial-scale=1" /> 

{% load bootstrap5 %} 

{% bootstrap_css %} 

{% bootstrap_javascript %} 




<style>
                body{
                    background-color: #004F6B;
                }
</style>
</head>



<div class="container-fluid" >

{% block content %} 

<h1>Game List</h1> 

{% if game_list %} 

<ul> 

{% for game in game_list %} 

<li> 

<a href="/game/{{ game.id }}/">{{ game.title }}</a> 
<a href="{% url 'edit_game' game.id %}"><button type="button" class="btn btn-success">Update</button>

</li> 

{% endfor %} 

</ul> 

{% else %} 

<p>There are no games present</p> 

{% endif %} 

{% endblock %} 

</div>




</html>