


<!DOCTYPE html>

<head>

<title>My Game Ranks</title> 

<meta charset="utf-8" /> 

<meta name="viewport" content="width=device-width, initial-scale=1" /> 

{% load bootstrap5 %} 

{% bootstrap_css %} 

{% bootstrap_javascript %} 




<style>
                body{
                    background-color: #004F6B;
                }
</style>


<style>
    .centerit{
        text-align: center;
    }
</style>

</head>

<div class="centerit">
    <body>
<div class="container-fluid" >

                

 

                <link href='https://fonts.googleapis.com/css?family=Bubblegum Sans' rel='stylesheet'> 

                <style>
                    .homepagetitle{
                        font-family: 'Bubblegum Sans';
                    }
                </style>


                {% block content %} 

                <style>
                .titlebody{
                    background-color: #FFFF;
                }
                </style>
                <div class="titlebody">
                <div class="centerit">
                    <div class="homepagetitle">
                        <h1>Welcome to Game Ranks!</h1>
                        <h3>Rank your favorite games and share them with your friends!<h3>
                    </div>
                </div>
                </div>

                {% endblock %} 

                {% block contentimage %} 
                
                <div class='centerit'>

                    
                <div class="container-fluid" >

                    
                    <img src="https://external-preview.redd.it/HPfVlojudB5Ai93nfuYqaYhoM54Az6Lh97Ire4ye8N8.jpg?auto=webp&s=c8bdc9e146db51ccb97f83b5672c16da93bcc26f" class="img-fluid">

                </div>




                </div>
                
                {% endblock %} 


                {% block content2 %} 

                <div class="centerit">
                    <style>
                        .gamebutton{
                        padding-top: 5%;
                        }
                    </style>




                {%if request.user.is_authenticated %}
                    <div class="gamebutton">
                        <a href="{% url 'gamerank' %}"><button type="button" class="btn btn-success">View Your Game Rank</button>
                        </div>

                {% else %}

                    <div class="gamebutton">
                    <a href="{% url 'gamerank' %}"><button type="button" class="btn btn-success">View Game Rank</button>
                    </div>

                    <div class="gamebutton">
                        <a href="{% url 'signup' %}"><button type="button" class="btn btn-success">Sign Up!</button>
                        </div>

                        <div class="gamebutton">
                            <a href="{% url 'login_view' %}"><button type="button" class="btn btn-success">Log In</button>
                            </div>

                {% endif %}
      



                                {%if request.user.is_authenticated %}
                                <div class="gamebutton">
                                    <a href="{% url 'logout_view' %}"><button type="button" class="btn btn-danger">Logout</button>
                                </div>
                            {% endif %}

                </div>

                {% endblock %} 

    


</div>
</body>
</div>

</html>




