<!DOCTYPE html>

<head>

<title>My Game Ranks</title> 

<meta charset="utf-8" /> 

<meta name="viewport" content="width=device-width, initial-scale=1" /> 

{% load bootstrap5 %} 

{% bootstrap_css %} 

{% bootstrap_javascript %} 




<style>
                body{
                    background-color: lightblue;
                }
</style>
</head>

<div class="container-fluid" >

                

                <style>
                    .centerit{
                        text-align: center;
                    }
                </style>

                <link href='https://fonts.googleapis.com/css?family=Bubblegum Sans' rel='stylesheet'> 

                <style>
                    .homepagetitle{
                        font-family: 'Bubblegum Sans';
                    }
                </style>


                {% block content %} 

                <div class="centerit">
                    <div class="homepagetitle">
                        <h1>Welcome to Game Ranks!</h1>
                        <h3>Rank your favorite games and share them with your friends!<h3>
                    </div>
                </div>

                {% endblock %} 




                {% block content2 %} 

                <div class="centerit">
                    <style>
                        .buttonupperpadding{
                        padding-top: 10%;
                        }
                    </style>
                    <div class="buttonupperpadding">
                        <button type="button" class="btn btn-success">View Your Game Rank</button>
                        </div>
                </div>

                {% endblock %} 

    


</div>


</html>




