<!DOCTYPE html>

<head>
<style>
                body{
                    background-color: lightblue;
                }
</style>
</head>

<div class="container-fluid" >

                

                <style>
                    .centerit{
                        text-align: center;
                    }
                </style>

                <link href='https://fonts.googleapis.com/css?family=Bubblegum Sans' rel='stylesheet'> 

                <style>
                    .homepagetitle{
                        font-family: 'Bubblegum Sans';
                    }
                </style>


                {% block content %} 

                <div class="centerit">
                    <div class="homepagetitle">
                        <h1>Welcome to Game Ranks!</h1>
                        <h3>Rank your favorite games and share them with your friends!<h3>
                    </div>
                </div>

                {% endblock %} 

    


</div>


</html>




